html{
    background:#35353b;
    font-size:62.5%;
}
body{
    font-size:1.6rem;
}

a{
    text-decoration:none;
    color:darkred;
}a:hover{
    color:lightgreen;
}

.container{
    background:white;
    border-radius:0 0 .5rem .5rem ;
    border:.01rem solid grey;
}
.header{
    display:flex;
    padding-block:1rem;
    font-family:"Roboto";
    font-weight:bold;
    color:white;
    background-color: #0000f7cc;
}

.header .title{
    margin-inline:1rem;
    margin-block:0;
}
.header h1>span{
    margin-inline-end:1rem;
}
.header h1~span{
    display:inherit;
    align-items:center;
    margin:0;
    padding:0;
}
.post-container{
    padding-block:1rem;
}

.post-container h2{
    font-family:Arial;
    margin-inline:5rem 0;
}

.post-container h2 ~ p{
    color:grey;
    font-family:Arial;
    margin-inline:5rem 0;
}

.piedepagina p {
    font-family:arial;
    margin-block:0 0;
    padding-block:1rem;
    background-color:grey;
    text-align:center;
}
